html {
  font-size: 20px;
  font-size: 5.33333vw;
}

@media screen and (min-width: 540px) {
  html {
    font-size: 28.8px;
  }
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: 0;
  box-sizing: border-box;
}

body {
  font-size: 12px;
  margin: 0px 0px 48px 0px;
  background-color: #e8e8eb;
  overflow-x: hidden;
}

.fixed-top {
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  height: 36px;
  background: #ffffff;
  box-shadow: 0px 0px 4px 0px #e6e2e2;
  z-index: 3;
  display: none;
}

.flex-x {
  display: flex;
}

.flex-x>* {
  flex: 1;
  line-height: 48px;
  text-align: center;
}

.product-base {
  margin: 0;
  font-size: 12px;
  background-color: #ffffff;
}

.detail-images img {
  width: 100%;
}

.bottom-bar {
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 48px;
  background: #ffffff;
  box-shadow: 0px 0px 4px 0px #e6e2e2;
  z-index: 3;
}

.product-base {
  padding: 12px;
}

.product-desc {
  color: #e4393c;
}

.title-bar h1 {
  font-size: 16px;
}

.product-price {
  font-size: 20px;
  color: #ef3535;
}

.product-price .price {
  font-style: initial;
  font-size: 36px;
}